@font-face {
    font-family: EBGaramond;
    src: url(../assets/fonts/EBGaramond-VariableFont_wght.ttf);
}

*,html {
    font-family: EBGaramond;
}

body {
    background-color: black;
}

.image {
    position: absolute;
    left: 2vh;
    top: 2vh;
    text-align: center;
    height: 96vh;
}
.side-img {
    width: 100%;

}

#zoom-box {
    display: inline-block;
    position: relative;
}
#main {
    z-index: 0;
    display: inline-block;
}
#main-svg {
    display: block;
}
#mp-oy
{
    z-index: 40;
}
#theotokos {
    z-index: 40;
}

#txt-box {
    position: absolute;
    color: white;
    right: 2vh;
}
#title {
    text-align: center;
}

#writing {
    font-size: 1.2rem;
}

#align {
    display: flex;
}

#preloadedImages
{
    width: 0px;
    height: 0px;
    display: inline;
    background-image: url(../assets/img/hagia-sophia.jpg);
}

#zoom {
    cursor: pointer;
}