@font-face {
    font-family: EBGaramond;
    src: url(/assets/fonts/EBGaramond-VariableFont_wght.ttf);
}

*,html {
    font-family: EBGaramond;
}

body {
    background-color: black;
}

.image {
    position: absolute;
    left: 2.5vh;
    right: 0;
    top: 2.5vh;
    text-align: center;
    height: 95vh;
}
.side-img {
    width: 26vw;
}

#main {
    z-index: 0;
}
#mp-oy
{
    z-index: 40;
}
#theotokos {
    z-index: 40;
}

#txt-box {
    color: white;
    width: 26vw;
    float: right;
}
#title {
    text-align: center;
}

#writing {
    font-size: 1.2rem;
}