body {
    background-color: black;
}

.image {
    position: absolute;
    height: 95vh;
    display: block;
    margin: auto;
}

#hand:hover {
    opacity: .3;
}

#hand {
    z-index: 40;
    opacity: 0;
}